.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 160px;
}


.footer-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.footer-mid{
    display: flex;
    cursor: pointer;
    gap: 40px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
}

.footer-2023{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
