.login-container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-email,
.login-password {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid black;
}

button {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.login-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
