.login-container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--p-color);
}

.login-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-email,
.login-password {
  display: block;
  margin-bottom: 10px;
  background-color: var(--p-color);
}

.login-email:focus,
.login-password:focus {
  border: 1px solid red;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--p-color);
  border: 1px solid var(--s-color);
}

button {
  background-color: var(--p-color);
  color: var(--s-color);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  border: 1px solid var(--s-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--s-color);
  color: var(--p-color);
}

.login-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
